.banner {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}

.banner p {
  font-size: 30px;
  color: white;
  opacity: 0.8;
}
